html, body {
    margin: 0px;
    min-height: 100vh;
}

body {
    background-color: var(--bg-2);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding-bottom: 10px;
}

.container-nav {
    align-items: center;
    background-color: var(--bg-2);
    padding-top: 10px;
    justify-content: center;

    max-width: 60%;
    margin: auto;
}

mdui-segmented-button {
    background-color: var(--bg-1);
    color: var(--text-1);
}

mdui-segmented-button:hover {
    background-color: var(--hover-1);
}

.card-container {
    padding-top: 2%;
}

mdui-card {
    align-items: center;
    background-color: var(--bg-card);
    display: block;

    max-width: 40%;
    max-height: 40%;
    margin: auto;

    border-radius: var(--mdui-shape-corner-large);
}

.main-card {
    padding: 1.5em;
    padding-top: 1px;
}

.list-card {
    background: color-mix(in oklch, var(--bg-3), black 5%);
    max-width: 100%;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;

    border-radius: var(--mdui-shape-corner-small);
}

.main-card h3 {
    color: var(--text-1);
    
}

.list-card h4 {
    color: var(--text-1);
    margin-left: 20px;
}

.list-card p {
    color: var(--text-2);
    margin-left: 20px;
}

.list-card ul {
    color: var(--text-2);
}

li::marker {
    color: oklch(68.597% 0.10889 352.88);
}

@media (max-width: 768px) {
    .container-nav {
        max-width: 90%;
        padding-top: 15px
    }

    .card-container {
    padding-top: 5%;
    }

    mdui-card {
        max-width: 90%;
    }

    .card-container {
    padding-top: 5%;
}
}