html, body {
   margin: 0px;
   width: 100%;
   height: 100%;
}

body {
    background-color: var(--bg-2);
    font-family: sans-serif;
    margin: 0px;
}

.container-nav {
    align-items: center;
    background-color: var(--bg-2);
    padding-top: 10px;
    justify-content: center;

    max-width: 60%;
    margin: auto;
}

mdui-segmented-button {
    background-color: var(--bg-1);
    color: var(--text-1);
}

mdui-segmented-button:hover {
    background-color: var(--hover-1);
}

.card-container {
    padding-top: 10%;
}

.card-container p {
    color: var(--text-2);
}

mdui-card {
    align-items: center;
    background-color: var(--bg-card);
    display: block;
    justify-content: center;
    flex-direction: column;

    max-width: 40%;
    max-height: 40%;
    margin: auto;
    padding: 1.5em;
}

mdui-chip {
    background-color: var(--bg-4);
    color: var(--text-muted);
    display: inline-block;
    padding: 5px;
}

mdui-chip:hover {
    background-color: #5A4D5E8a;
}

i {
    padding-right: 5px;
}

img {
    padding-right: 5px;
    margin: auto;
}