<div class="page active" id="about">
  <ul class="list no-space">
            <li>I love red pandas and cats</li>
            <li>I think I have an odd obbsession with black pitted olives</li>
            <li>I'm trying to learn JS (doing a bad job)</li>
        </ul>
        <nav class="scroll">
            <a class="chip fill" href="https://discord.com/users/807170846497570848" target="_blank">
            <i class="bi bi-discord"></i>
            <span>Discord</span>
        </a>
        <a class="chip fill" href="https://discord.gg/QAKs6UdeBS" target="_blank" >
            <i class="bi bi-discord"></i>
            <span>My server</span>
        </a>
        <a class="chip fill" href="https://www.tiktok.com/@moodlesaurusrex" target="_blank">
            <i class="bi bi-tiktok"></i>
            <span>Tiktok</span>
        </a>
        <a class="chip fill" href="https://t.me/IIV_786" target="_blank">
            <i class="bi bi-telegram"></i>
            <span>Telegram</span>
        </a>
        <a class="chip fill" href="https://bsky.app/profile/mudrhiod.bannana.me" target="_blank">
            <i class="bi bi-bluesky"></i>
            <span>Bluesky</span>
        </a>
</div>

<style>
.scroll {
    margin-left: 10px;
    margin-right: 10px;
}
</style>