<div class="page" id="music">
  <p>I wanna put lastfm down here :)</p>
</div>
<!-- <article class="about-me">
        <a class="chip fill" href="https://www.last.fm/user/Quinxxx" target="_blank">
            <img src={lastFM.src} height="10px" width="10px" />
            <span>LastFM</span>
        </a>
        <a class="chip fill" href="https://music.youtube.com/playlist?list=PL1cu66qZ1RUoeQEoKUnLdd2X6uojwBb6L&si=Iv-7uswty5fIyk4E" target="_blank">
            <i class="bi bi-youtube"></i>
            <span>YTM playlist</span>
        </a>
        <a class="chip fill fill" href="https://open.spotify.com/user/0prhvv7b4do7eqw59zwvgtwcn?si=5abf335ec9524c3a" target="_blank">
            <i class="bi bi-spotify"></i>
            <span>Spotify</span>
        </a>
    </article> -->