---
import lastFM from '../assets/icons/lastfm.svg';
import About from '../components/me/about.astro';
import Music from '../components/me/music.astro';
---

<div class="page active" id="page1">
    <div class="user-container">
        <div id="avatar-container" class="avatar-container shape sided-cookie9 extra" data-ui="#snackbar" transition:persist>
        </div>
    </div>
    <div class="user-info">
        <div id="username"></div>
        <article class="border" id="user-status"></article>
    </div>
    <div id="status-text" class="status"></div>
    <div id="presence-data">
        <!-- Activities will appear here -->
    </div>
    <div class="reviews-container">
        <details>
            <summary>
                <article id="reviewbtn" class="round border no-elevate">
                    <nav>
                        <div class="max">Reviews</div>
                        <i>expand_more</i>
                    </nav>
                </article>
            </summary>
            <ul id="user-reviews" class="list border" transition:persist>
                <!-- Reviews will appear here -->
            </ul>
        </details>
    </div>
    <article id="about-me" class="round">
        <nav class="group connected tetiary-container">
            <button class="left-round active" data-ui="#about">
                <i>person</i>
            </button>
            <button class="right-round" data-ui="#music">
                <i>music_note</i>
            </button>
        </nav>
        <About />
	    <Music />
    </article>
</div>

<div class="snackbar" id="snackbar" transition:persist>
  <span>The wheel weaves as the wheel wills</span>
</div>

<script transition:persist>
document.addEventListener("astro:page-load", () => {
    const aboutBtn = document.querySelector('[data-ui="#about"]');
    const musicBtn = document.querySelector('[data-ui="#music"]');
    const aboutPage = document.getElementById("about");
    const musicPage = document.getElementById("music");

    // default button selected is about
    aboutBtn.addEventListener('click', () => {
        musicBtn.classList.remove('active');
        musicPage.classList.remove('active');
        aboutBtn.classList.add('active');
        aboutPage.classList.add('active');
    });

    musicBtn.addEventListener('click', () => {
        aboutBtn.classList.remove('active');
        aboutPage.classList.remove('active');
        musicBtn.classList.add('active');
        musicPage.classList.add('active');
    });
});
</script>

<script src="../scripts/lanyard.js"></script>
<script src="../scripts/reviewdb.js"></script>

<style>
.page {
    padding-top: 5%;
}

#article, #about-me {
    align-items: center;
    display: block;

    max-width: 40%;
    max-height: 40%;
    margin: auto;
}

.status {
    align-items: center;
    display: flex;
    justify-content: center;

    max-width: 40%;
    margin: auto;
}

.large-text {
    margin-left: 10px;
}

#about-me {
    margin-top: 20px;
}

.list>li {
    white-space: wrap !important;
}

.chip {
    margin-top: 0.5rem;
}

.reviews-container {
    align-items: center;
    display: block;
    justify-content: center;
    max-width: 40%;
    margin: auto;
}

.group {
    align-items: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;

    max-width: 60%;
    margin: auto;
    gap: .5rem;
}

nav {
    margin-left: 5px;
}

@media (max-width: 768px) {
    #article, #about-me {
        max-width: 90%;
    }

    .reviews-container {
        max-width: 90%;
    }

    .status {
        max-width: 90%;
    }
}
</style>