---
import lastFM from '../assets/icons/lastfm.svg';
---

<div class="page active" id="page1">
    <article>
        <div class="profile-container">
            <div class="presence-container">
                <div class="user-container">
                    <div class="avatar-container shape sided-cookie9 extra">
                    <img id="avatar" class="responsive" draggable="false" alt="profile picture" />
                    <div class="status-badge offline" id="status-badge"></div>
                </div>
                <div class="user-info">
                    <div id="username"></div>
                    <div id="user-status">

                    <span class="status-text"></span>
                    <span class="status-indicator offline"></span>
                </div>
                </div>
            </div>

            <div id="presence-data">
            <!-- Activities will appear here -->
            </div>
            </div>
    </article>

    <article class="socials">
        <a class="chip fill" href="https://discord.com/users/807170846497570848" target="_blank">
            <i class="bi bi-discord"></i>
            <span>Discord</span>
        </a>
        <a class="chip fill" href="https://discord.gg/QAKs6UdeBS" target="_blank" >
            <i class="bi bi-discord"></i>
            <span>My server</span>
        </a>
        <br>
        <a class="chip fill" href="https://www.tiktok.com/@moodlesaurusrex" target="_blank">
            <i class="bi bi-tiktok"></i>
            <span>Tiktok</span>
        </a>
        <a class="chip fill" href="https://t.me/IIV_786" target="_blank">
            <i class="bi bi-telegram"></i>
            <span>Telegram</span>
        </a>
        <a class="chip fill" href="https://bsky.app/profile/mudrhiod.bannana.me" target="_blank">
            <i class="bi bi-bluesky"></i>
            <span>Bluesky</span>
        </a>

        <hr class="large">

        <a class="chip fill" href="https://www.last.fm/user/Quinxxx" target="_blank">
            <img src={lastFM.src} height="16px" width="16px" />
            <span>LastFM</span>
        </a>
        <a class="chip fill" href="https://music.youtube.com/playlist?list=PL1cu66qZ1RUoeQEoKUnLdd2X6uojwBb6L&si=Iv-7uswty5fIyk4E" target="_blank">
            <i class="bi bi-youtube"></i>
            <span>YTM playlist</span>
        </a>
        <a class="chip fill fill" href="https://open.spotify.com/user/0prhvv7b4do7eqw59zwvgtwcn?si=5abf335ec9524c3a" target="_blank">
            <i class="bi bi-spotify"></i>
            <span>Spotify</span>
        </a>
    </article>

</div>

<!-- <script type="module" src="/scripts/lanyard.js"></script> -->
<script src="../scripts/presence.js"></script>

<style>
.page {
    padding-top: 5%;
}

article {
    align-items: center;
    display: block;

    max-width: 40%;
    max-height: 40%;
    margin: auto;
}

.socials {
    margin-top: 20px;
}

.chip {
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    article {
        max-width: 90%;
    }
}
</style>