<div class="container-nav">
    <a data-ui="#page1">
        <nav class="group connected">
            <button class="border left-round">
                <i>home</i>
                <span>Home</span>
            </button>
        </nav>
    </a>
    <a data-ui="#page2">
        <nav class="group connected">
            <button class="border no-round">
                <i>shopping_bag</i>
                <span>Shopping List</span>
            </button>
        </nav>
    </a>
    <nav id="more" class="group connected">
        <button class="border right-round">
            <i>arrow_drop_down</i>
            <span></span>
                <menu class="left no-wrap">
                    <li>
                        <a data-ui="#page3">
                            <i>pets</i>
                            panda
                        </a>
                    </li>
                    <li>
                        <a data-ui="#themeDialog">
                            <i>palette</i>
                            Themes
                        </a>
                    </li>
                </menu>
        </button>
    </nav>
</div>

<dialog id="themeDialog">
    <h5 class="center-align">Themes</h5>
    <div>
        <h6 class="small">Eye Candy (default)</h6>
        <button class="circle small eyecandy" onclick="setTheme('eyecandy')"></button>
        <p>These themes are not finished, just got placeholder colours :p</p>
        <h6 class="small">Catppuccin</h6>
        <button class="circle small frappe" onclick="setTheme('ctp-frappe')"></button>
        <button class="circle small macchiato" onclick="setTheme('ctp-macchiato')"></button>
        <button class="circle small mocha" onclick="setTheme('ctp-mocha')"></button>
        <h6 class="small">Cityfog</h6>
        <button class="circle small cityfog" onclick="setTheme('cityfog')"></button>
    </div>
    <nav class="right-align">
        <!-- <button onclick="resetTheme()">Rest theme</button> -->
        <button data-ui="#themeDialog">Close</button>
    </nav>
</dialog>

<style>
.container-nav {
    align-items: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;

    max-width: 60%;
    margin: auto;
    gap: .5rem;
}

#more {
    margin-top: 0px;
}

h6 {
    padding-bottom: 5px;
}

.eyecandy {
    background-color: oklch(36.954% 0.02048 289.149);
}

.frappe {
    background-color: #303446;
}

.macchiato {
    background-color: #24273a;
}

.mocha {
    background-color: #1e1e2e;
}

.cityfog {
    background-color: #2c3946;
}

@media (max-width: 768px) {
    .container-nav {
        max-width: 100%;
        padding-top: 15px
    }
}
</style>