<div class="container-nav">
    <mdui-segmented-button-group full-width>
        <mdui-segmented-button href="/themes/bunny" target="_self">Bunny</mdui-segmented-button>
        <mdui-segmented-button href="/themes/vencord" target="_self">Vencord</mdui-segmented-button>
    </mdui-segmented-button-group>
</div>

<style>
.container-nav {
    align-items: center;
    background-color: var(--bg-2);
    padding-top: 10px;
    justify-content: center;

    max-width: 60%;
    margin: auto;
}

mdui-segmented-button {
    background-color: var(--bg-1);
    color: var(--text-1);
}

mdui-segmented-button:hover {
    background-color: var(--hover-1);
}
@media (max-width: 768px) {
    .container-nav {
        max-width: 90%;
        padding-top: 15px
    }
}
</style>