<div class="container-nav">
    <mdui-segmented-button-group full-width>
        <mdui-segmented-button href="/" target="_self">Home</mdui-segmented-button>
        <mdui-segmented-button href="/shoppinglist" target="_self">Shopping list</mdui-segmented-button>
    </mdui-segmented-button-group>
</div>

<style>
.container-nav {
    align-items: center;
    padding-top: 10px;
    justify-content: center;

    max-width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    .container-nav {
        max-width: 90%;
        padding-top: 15px
    }
}
</style>