<div class="container-nav">
    <a data-ui="#page1">
        <nav class="group connected">
            <button class="border left-round">
                <i>home</i>
                <span>Home</span>
            </button>
        </nav>
    </a>
    <a data-ui="#page2">
        <nav class="group connected">
            <button class="border right-round">
                <i>home</i>
                <span>Shopping List</span>
            </button>
        </nav>
    </a>
</div>

<style>
.container-nav {
    align-items: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;

    max-width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    .container-nav {
        max-width: 90%;
        padding-top: 15px
    }
}
</style>