---
import RPsniff from '../assets/rp_sniff.gif';
---
<div class="page active">
    <div class="small-width small-height">
        <div class="shape sided-cookie6 max rotate">
            <img class="responsive" src={RPsniff.src} >
        </div>
    </div>
</div>

<style>
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width: 100%; */

    padding-top: 80px;
}

.shape sided-cookie6 max rotate {
    height: 1000px;
    width: 1000px;
}

.responsive {
    padding-leftt: 10px !important;
}

</style>