<div class="page" id="page2">
    <main class="responsive center-align">
        <details>
            <summary>
                <article class="round primary no-elevate">
                <nav>
                    <div class="max">Age of legends</div>
                    <i>expand_more</i>
                </nav>
                </article>
            </summary>
        <ul class="list border">
            <li>Aes Sedai Great Serpent ring</li>
            <li>Choedan Kal Sa'angreal</li>
        </ul>
        </details>
    </main>
        <main class="responsive center-align">
        <details>
            <summary>
                <article class="round primary no-elevate">
                <nav>
                    <div class="max">18/03/2025 - Iced coffee</div>
                    <i>expand_more</i>
                </nav>
                </article>
            </summary>
        <ul class="list border">
            <li>Sentient double cream</li>
            <li>White sugar</li>
            <li>Industrial ice</li>
            <li>Ancient coffee beans</li>
        </ul>
        </details>
    </main>
        <main class="responsive center-align">
        <details>
            <summary>
                <article class="round primary no-elevate">
                <nav>
                    <div class="max">10/01/2025 - Frozen foods</div>
                    <i>expand_more</i>
                </nav>
                </article>
            </summary>
        <ul class="list border">
            <li>Frozen pizza</li>
            <li>Frozen huma-</li>
            <li>Frozen Bananana</li>
            <li>Frozen blueberry syrup</li>
        </ul>
        </details>
    </main>
        <main class="responsive center-align">
        <details>
            <summary>
                <article class="round primary no-elevate">
                <nav>
                    <div class="max">20/11/2024 - h</div>
                    <i>expand_more</i>
                </nav>
                </article>
            </summary>
        <ul class="list border">
            <li>Your mom (hot)</li>
            <li>BLÅHAJ (yes)</li>
            <li><img src="https://cdn.discordapp.com/emojis/1373342025449214062.webp?size=48&name=catyes%7E1" alt="bleh" width="28" height="28"> (bleh I think)</li>
            <li>Weight loss pills for your fatass</li>
        </ul>
        </details>
    </main>
        <main class="responsive center-align">
        <details>
            <summary>
                <article class="round primary no-elevate">
                <nav>
                    <div class="max">September 12, 1473 BC - Info</div>
                    <i>expand_more</i>
                </nav>
                </article>
            </summary>
        <ul class="list border">
            <li>This entire thing is fake/satire</li>
        </ul>
        </details>
    </main>
</div>

<style>
.page {
    padding-top: 5%;
}

main {
    max-width: 40%;
    max-height: 40%;
}

.list {
    background-color: var(--surface-container-low);
    border-radius: .75rem;
    margin-block-start: 1rem;
}

@media (max-width: 768px) {
    .container-nav {
        max-width: 90%;
        padding-top: 15px
    }

    main {
        max-width: 90%;
    }
}
</style>