<div class="container-main">
    <mdui-card variant="elevated">
        <h2>Themes I made I guess</h2>

        <br>
        <mdui-button href="/themes/bunny" target="_self">Bnnuy themes</mdui-button> 
        <mdui-button href="/themes/vencord" target="_self">Vencord themes</mdui-button>
    </mdui-card>
</div>

<style>
.container-main {
    justify-content: center;
    align-items: center;

    padding-top: 15%;
}

mdui-card {
    align-items: center;
    background-color: var(--bg-card);
    color: var(--text-1);
    display: block;

    text-align: center;

    max-width: 40%;
    max-height: 40%;
    margin: auto;
    padding: 1.5em;
}

mdui-button {
    background-color: var(--candy-accent);
    color: var(--bg-2);
   
    transform-origin: left center;
    margin-top: 5px;

    font-weight: 600;
}

mdui-button:hover {
    background-color: var(--candy-accent-hover);
}

@media (max-width: 768px) {

    mdui-card {
        align-items: center;
        background-color: var(--bg-card);
        display: block;
        justify-content: center;
        flex-direction: column;

        max-width: 90%;
        max-height: 40%;
        margin: auto;
        padding: 1.5em;
        padding-top: 0.5%;
    }
}
</style>