@import url('../styles/city-fog-theme.css');
@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

:root,
body.eyecandy {
  /* eye candy vars */
  --ec-bg1: oklch(41.264% 0.0233 291.865);
  --ec-bg2: oklch(36.954% 0.02048 289.149);
  --ec-bg3: oklch(40.149% 0.02346 291.828);
  --ec-bginput: oklch(43.946% 0.03201 318.121); /* input backgrounds */
  --ec-bgcard: oklch(39.54% 0.02534 294.348); /* cards, popout menus, floating elements */

  --ec-button: oklch(46.963% 0.02088 289.062);
  --ec-button-hover: oklch(38.009% 0.01695 290.119);
    
  --ec-accent: oklch(72.785% 0.07856 77.143);
  --ec-accent-hover: oklch(66.032% 0.09643 76.273);
  --ec-accent2: oklch(71.271% 0.08103 345.993);
  --ec-accent2-hover: oklch(62.56% 0.11033 347.554);

  --ec-red: oklch(70.712% 0.06975 52.907);
  --ec-green: oklch(78.71% 0.07614 83.795);
  --ec-yellow: oklch(77.649% 0.08304 83.296);
  --ec-blue: oklch(68.927% 0.06685 83.719);

  --ec-hover1: #cfc7d83e; /* main hover */
  --ec-hover2: #10132033;

  --ec-text1: oklch(93.157% 0.00278 285.781);
  --ec-text2: oklch(80.502% 0.01969 282.637);
  --ec-text3: oklch(79.22% 0.05233 327.013); /* placeholder and muted text */

  --primary: var(--ec-accent);
  --on-primary: var(--ec-bg2);
  --primary-container: var(--ec-accent2);
  --on-primary-container: #e9ddff;
  --secondary: var(--ec-text2);
  --on-secondary: var(--ec-bginput);
  --secondary-container: var(--ec-button);
  --on-secondary-container: var(--ec-text1);
  --tertiary: #efb8c8;
  --on-tertiary: #4a2532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd9e3;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1c1b1e;
  --on-background: #e6e1e6;
  --surface: var(--ec-bg2);
  --on-surface: var(--ec-text1);
  --surface-variant: var(--ec-bginput);
  --on-surface-variant: var(--ec-text3);
  --outline: #948f99;
  --outline-variant: #696779;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e6e1e6;
  --inverse-on-surface: #313033;
  --inverse-primary: #6750a4;
  --surface-dim: #141316;
  --surface-bright: #3a383c;
  --surface-container-lowest: #0f0e11;
  --surface-container-low: var(--ec-bg1);
  --surface-container: var(--ec-bgcard);
  --surface-container-high: var(--ec-bgcard);
  --surface-container-highest: #363438;

  --elevate1: 0 .125rem .125rem 0 var(--ec-hover2);

  --status-online: oklch(72.437% 0.08404 134.335);
  --status-idle: oklch(72.759% 0.09315 83.593);
  --status-dnd: oklch(70.948% 0.06793 52.597);
  --status-offline: oklch(56.804% 0.03526 287.192);
}

body.ctp-frappe {
  --primary: var(--ctp-frappe-blue);
  --on-primary: var(--ctp-frappe-base);
  --primary-container: var(--ctp-frappe-green);
  --on-primary-container: #e9ddff;
  --secondary: var(--ctp-frappe-subtext1);
  --on-secondary: var(--ctp-frappe-surface0);
  --secondary-container: var(--ctp-frappe-surface0);
  --on-secondary-container: var(--ctp-frappe-text);
  --tertiary: #efb8c8;
  --on-tertiary: #4a2532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd9e3;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1c1b1e;
  --on-background: #e6e1e6;
  --surface: var(--ctp-frappe-mantle);
  --on-surface: var(--ctp-frappe-text);
  --surface-variant: var(--ctp-frappe-surface0);
  --on-surface-variant: var(--ctp-frappe-subtext1);
  --outline: #948f99;
  --outline-variant: var(--ctp-frappe-surface0);
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e6e1e6;
  --inverse-on-surface: #313033;
  --inverse-primary: #6750a4;
  --surface-dim: #141316;
  --surface-bright: #3a383c;
  --surface-container-lowest: #0f0e11;
  --surface-container-low: var(--ctp-frappe-base);
  --surface-container: var(--ctp-frappe-crust);
  --surface-container-high: var(--ctp-frappe-crust);
  --surface-container-highest: #363438;

  --status-online: var(--ctp-frappe-green);
  --status-idle: var(--ctp-frappe-yellow);
  --status-dnd: var(--ctp-frappe-red);
  --status-offline: var(--ctp-frappe-surface2);
}

body.ctp-macchiato {
  --primary: var(--ctp-macchiato-blue);
  --on-primary: var(--ctp-macchiato-base);
  --primary-container: var(--ctp-macchiato-green);
  --on-primary-container: #e9ddff;
  --secondary: var(--ctp-macchiato-subtext1);
  --on-secondary: var(--ctp-macchiato-surface0);
  --secondary-container: var(--ctp-macchiato-surface0);
  --on-secondary-container: var(--ctp-macchiato-text);
  --tertiary: #efb8c8;
  --on-tertiary: #4a2532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd9e3;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1c1b1e;
  --on-background: #e6e1e6;
  --surface: var(--ctp-macchiato-mantle);
  --on-surface: var(--ctp-macchiato-text);
  --surface-variant: var(--ctp-macchiato-surface0);
  --on-surface-variant: var(--ctp-macchiato-subtext1);
  --outline: #948f99;
  --outline-variant: var(--ctp-macchiato-surface0);
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e6e1e6;
  --inverse-on-surface: #313033;
  --inverse-primary: #6750a4;
  --surface-dim: #141316;
  --surface-bright: #3a383c;
  --surface-container-lowest: #0f0e11;
  --surface-container-low: var(--ctp-macchiato-base);
  --surface-container: var(--ctp-macchiato-crust);
  --surface-container-high: var(--ctp-macchiato-crust);
  --surface-container-highest: #363438;

  --status-online: var(--ctp-macchiato-green);
  --status-idle: var(--ctp-macchiato-yellow);
  --status-dnd: var(--ctp-macchiato-red);
  --status-offline: var(--ctp-macchiato-surface2);
}

body.ctp-mocha {
  --primary: var(--ctp-mocha-blue);
  --on-primary: var(--ctp-mocha-base);
  --primary-container: var(--ctp-mocha-green);
  --on-primary-container: #e9ddff;
  --secondary: var(--ctp-mocha-subtext1);
  --on-secondary: var(--ctp-mocha-surface0);
  --secondary-container: var(--ctp-mocha-surface0);
  --on-secondary-container: var(--ctp-mocha-text);
  --tertiary: #efb8c8;
  --on-tertiary: #4a2532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd9e3;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1c1b1e;
  --on-background: #e6e1e6;
  --surface: var(--ctp-mocha-mantle);
  --on-surface: var(--ctp-mocha-text);
  --surface-variant: var(--ctp-mocha-surface0);
  --on-surface-variant: var(--ctp-mocha-subtext1);
  --outline: #948f99;
  --outline-variant: var(--ctp-mocha-surface0);
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e6e1e6;
  --inverse-on-surface: #313033;
  --inverse-primary: #6750a4;
  --surface-dim: #141316;
  --surface-bright: #3a383c;
  --surface-container-lowest: #0f0e11;
  --surface-container-low: var(--ctp-mocha-base);
  --surface-container: var(--ctp-mocha-crust);
  --surface-container-high: var(--ctp-mocha-crust);
  --surface-container-highest: #363438;

  --status-online: var(--ctp-mocha-green);
  --status-idle: var(--ctp-mocha-yellow);
  --status-dnd: var(--ctp-mocha-red);
  --status-offline: var(--ctp-mocha-surface2);
}

body.cityfog {
  --primary: var(--cf-acc0);
  --on-primary: var(--cf-txt1);
  --primary-container: var(--cf-acc1);
  --on-primary-container: #e9ddff;
  --secondary: var(--cf-txt2);
  --on-secondary: var(--cf-bg4);
  --secondary-container: var(--cf-acc1);
  --on-secondary-container: #e8def8;
  --tertiary: #efb8c8;
  --on-tertiary: #4a2532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd9e3;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1c1b1e;
  --on-background: #e6e1e6;
  --surface: var(--cf-bg0);
  --on-surface: var(--cf-txt0);
  --surface-variant: var(--cf-bg2);
  --on-surface-variant: var(--cf-txt2);
  --outline: #948f99;
  --outline-variant: var(--cf-bg2);
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e6e1e6;
  --inverse-on-surface: #313033;
  --inverse-primary: #6750a4;
  --surface-dim: #141316;
  --surface-bright: #3a383c;
  --surface-container-lowest: #0f0e11;
  --surface-container-low: var(--cf-bg3);
  --surface-container: var(--cf-bg1);
  --surface-container-high: var(--cf-bg1);
  --surface-container-highest: #363438;

  --status-online: var(--cf-green);
  --status-idle: var(--cf-yellow);
  --status-dnd: var(--cf-red);
  --status-offline: var(--cf-bg4);
}